@tailwind base;
@tailwind components;
@tailwind utilities;

.flex{
    display: flex;
 
}

.width80{
    width: 80%;
}
.mauto{
    margin: auto;
}
.bg-slate-800 {
    background-color: slateblue;
}

.px-8{
    padding: 0.8rem 3rem 0.8rem 3rem;

}


.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}

.border{
    border: 1px solid grey;
    border-radius: 075rem;
}
.mt-2{
    margin-top: 2rem;
}